<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unica - University Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Unica University Template">
    <meta name="keywords" content="event, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->   

   
    <link href="img/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
   
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="path/to/carousel/lib"></script>
    <!-- Stylesheets -->
    
    <link rel="stylesheet" href="../../assets/CSS/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/CSS/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/CSS/themify-icons.css"/>
    <link rel="stylesheet" href="../../assets/CSS/magnific-popup.css"/>
    <link rel="stylesheet" href="../../assets/CSS/animate.css"/>
    <link rel="stylesheet" href="../../assets/CSS/owl.carousel.css"/>
    <link rel="stylesheet" href="../../assets/CSS/style.css"/>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  
<script>
// without this script, the slider doesn't start on it's own:
!function ($) {
$(function(){
  $('#homepage_slider').carousel()
})
}(window.jQuery)


// if user chooses to not autoplay the video, the button should be uncommented in html and this script will make the button work:
var vid = document.getElementById("bgvid");
var playButton = document.querySelector("#slider-play-button button");

playButton.addEventListener("click", function() {
if (vid.paused) {
vid.play();
playButton.classList.remove("play-video-button");
playButton.classList.add("pause-video-button");
} else {
vid.pause();
playButton.classList.add("play-video-button");
playButton.classList.remove("pause-video-button");
}
});     
      </script>

       
    <!-- Page Preloder -->
  

    <!-- header section -->
    <header style="width: 100%;height: 15%;top: 0;left: 0;z-index: 999999;background: #fff;" class="header-section">
        <div class="container">
            <!-- logo -->
            
            
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
          
        </div>
    </header>
    <header class="header-section">
        <div class="container">
          <!-- logo -->
          <a href="index.html" class="site-logo"><img src="img/logo.png" alt=""></a>
          <div class="nav-switch">
            <i class="fa fa-bars"></i>
          </div>
         
        </div>
      </header>
    <!-- header section end-->


    <!-- Header section  -->
   
    <!-- Header section end -->

    <!-- Hero section -->

    <div id="banner">

     
        <!-- Slider begins here -->
        <div id="homepage_slider" class="carousel slide">
          <ol class="carousel-indicators">

          </ol>
                
          <!-- Carousel items -->
        <div class="carousel-inner">
            <!-- slide #1 -->
            <div data-slide="0" class="item active">
              <div class="slider-hide-on-mobile">
                
                   
        <img  src="../../assets/hero-slider/bricol.jpg" > 
                
                </div>
          </div>
          <div class="carousel-caption d-none d-md-block">
              <img style="width: 500px; height: 580px; padding-bottom: 270px; padding-left: 80px"  src="../../assets/hero-slider/loooo.jpg" > 
            

            </div>
          
                        
            <!-- slide #2 (image) -->
           
            <!-- slide #3 (image) -->
           
         
          </div> <!-- end of '.carousel-inner' -->
        
          <!-- Carousel nav -->
        <!-- 	<div id="slider-play-button"><button class="play-video-button" type="button" title="Play Video"></button></div> -->
          
          </div> <!-- end of '#homepage_slider' -->
          <!-- Slider ends here -->
         
        
        </div>  <!-- end of "#banner" -->
        <nav class="nav-section">
          <div class="container">
             
              <ul  class="main-menu">
                  <li><a href="index.html" style="color: blue">Poster un besoin</a></li>
                  <li><a href="about.html" style="color: blue">Devenir Employeur</a></li>
                  <li><a href="#"style="color:blue">Connexion</a></li>
                  <li><a href="/inscription" style="color: blue">inscription</a></li>
                 
              </ul>
          </div>
      </nav>
              
    <!-- Hero section end -->


    <!-- Counter section  -->
    
    <!-- Counter section end -->

    <section class="service-section spad">
        <div class="container services">
          <div class="section-title text-center">
            <h3 style="color: darkorange; font-weight: bold">OUR SERVICES</h3>
            <p>We provides the opportunity to prepare for life</p>
          </div>
          <div class="row">
          
                
              <!-- categorie -->
              
              <div class="col-lg-4 col-md-6" >
                
                <div class="categorie-item">
                    <img style="height: 200px; width:1000px ; background-size: 100% 100%"  src="../../assets/hero-slider/bricolage.jpg"
                       >
                       
                  <div class="ci-text">
                        
                  
                      <span>Bricolage</span>
                  </div>
                </div>
              </div>
            
            
              
              </div>
        </div>
      </section>
      
      <section  class="enroll-section">
         
        <img  src="../../assets/img/enroll-bg.jpg" > 
        
         <div style="padding: 100px 1px 100px;" class="carousel-caption d-none d-md-block">
            <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="section-title text-white">
                      
                      <h3>ABOUT US</h3>
                     
                    </div>
                    <div class="enroll-list text-white">
                      <div class="enroll-list-item">
                        <span></span>
                        
                        <p style="font-weight: bold; text-size-adjust: 500px">FivePoints is a method .. A Process .. Evaluation .. Coaching .. Placement .. the best step to start your career at one of our partners</p>
                      </div>
                     
                    </div>
                    <div class="enroll-list text-white">
                        <div class="enroll-list-item">
                          <span></span>
                          
                          <p> Your career is our vocation !! Come meet our French and Tunisian partners who wish to recruit you !! If you are not ready FivePoints offers the training you need</p>
                        </div>
                       
                      </div>
                  </div>
                  <div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
                    <img src="../../assets/img/encroll-img.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
      </section>

    <section id="course" class="service-section spad">
        <div class="container services">
          
          </div>
        
      </section>

<!--====== Javascripts & Jquery ======-->
<script src="../../assets/js copy/jquery-3.2.1.min.js"></script>
<script src="../../assets/js copy/owl.carousel.min.js"></script>
<script src="../../assets/js copy/jquery.countdown.js"></script>
<script src="../../assets/js copy/masonry.pkgd.min.js"></script>
<script src="../../assets/js copy/magnific-popup.min.js"></script>
<script src="../../assets/js copy/main.js"></script>

</body>
</html>

